@import 'variables.scss';

#timer {
    font-size: $font-size;
    font-weight: bold;
  
    position: absolute;
    top:$top-bottom-size;right:0;bottom:$top-bottom-size;left:0;
    overflow: auto;
    margin: auto;

    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}